{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <style>
        .loginForm-container{
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="loginForm-container">
<form id="loginForm" name="loginForm" action="/login" method="post" class="mt-4">
    <div class="signinlabel-container">
        <label for="login">Login</label><br>
        <input type="login" id="login" name="login" autocomplete="on"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" autocomplete="on"><br>
        <br>
        <button type="submit" name="submitBtn">Login</button>
    </div>
</form>
{{if . }}
<div>
    {{.Message}}
</div>
{{end}}
<br>
<a href="/signup">Signup</a>
</div>
</body>
</html>
{{end}}

