<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    {{template "styles"}}
    {{template "update_style"}}
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome to the Home Page</h1>
    </div>
    <div class="logout-container">
        <a href="/logout">
            <button>Logout</button>
        </a>
    </div>
    <div class="deletebtn-container">
        <button id="deleteAccountBtn">Delete Account</button>
    </div>
    {{template "update_button"}}
    {{template "confirmdelete"}}
    {{template "scripts"}}
    {{template "update_scripts"}}
</body>
</html>